/* open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

body{
  background-color: #cbcaca5f;
  color: #232921;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 0 0;
  gap: 2rem;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: start center;
  gap: 3rem;
}

.container-1{
  padding: 1rem 0;
  margin: 2rem;
}

.container-2{
  padding: 1rem 0;
  place-self: start start;
}

.container-3{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: rgb(247, 247, 247);
}

.heading-text-manipulations{
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.line-break{
  margin: 1.5rem;
  width: 97%;
  height: 0.1rem;
  background-color: #23292120;
}

.heading{
  font-size: 0.9rem;
  text-decoration: underline;
  text-decoration-style:wavy;
  margin: 0 0 0.2rem 0;
}

.text-area{
  width: 30rem;
  height: 15rem;
  word-spacing: 0.01em;
  letter-spacing: 0.01em;
  border: 0.2px solid #232921;
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  background-color: rgba(211, 211, 211, 0.399);
  text-decoration-color: lightgray;
}

.text-area:active{
  outline: none;
}

.description{
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
  text-transform: uppercase;
  word-spacing: 0.01em;
}

.preview-text{
  width: 30rem;
  text-align: justify;
  overflow-wrap: break-word;
  padding: 1rem 0rem;
  font-size: 1rem;
}

.words{
  color: darkgreen;
  text-decoration: underline;
  font-size: 1.3rem;
}

.button-icon{
  background-color: lightgrey;
  margin-left: 1rem;
  padding: 0.5rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  margin: 1rem;
}

.icons{
  height: 1rem;
  width: auto;
}

.icons-light{
  height: 2.2rem;
  margin-left: 0.1rem;
  width: auto;
  display: none;
}

.icons-dark{
  height: 3rem;
  margin-left: 0.1rem;
  width: auto;
}

.button{
  border: none;
  background-color: lightgrey;
  font-size: 1rem;
}

.button:hover{
  color: darkgreen;
}

.button-icon:hover{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width:996px) {
  html{
    font-size: 16px;
  }

  .text-area{
    height: 25rem;
    width: 55rem;
  }
  
  .container{
    grid-template-columns: repeat(1,1fr);
    place-items: center center;
  }
  
  .container-2{
    height: 25rem;
    width: 56rem;
    place-self: center center;
  }

  .container-3{
    padding: 2rem 5rem;
  }
}

@media screen and (max-width:768px) {
  html{
    font-size: 13px;
  }

  .text-area, .container-2{
    height: 25rem;
    width: 45rem;
  }

  .container-2{
    height: 25rem;
    width: 46rem;
  }

  .container{
    grid-template-columns: repeat(1,1fr);
    place-items: center center;
  }

  .container-3{
    padding: 2rem 10rem;
  }
}

@media screen and (max-width:556px) {
  html{
    font-size: 10px;
  }

  .text-area{
    height: 25rem;
    width: 35rem;
  }

  .container-2{
    height: 25rem;
    width: 36rem;
  }

  .container-3{
    padding: 2rem 5rem;
  }
}